* {
    margin: 0;
    padding: 0;
}

/*
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(IMG_0909.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 70%;

}
*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(IMG_0909.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 70%;
}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
}

.main-nav li.active a {
    border: 1px solid white;
}

.main-nav li a:hover {
    border: 1px solid white;
}

/*
.header {
    float: left;
    color: white;
    margin-top: 20px;
}
*/

.row {
    max-width: 1200px;
    margin: auto;
}

.welcome {
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
   
}

h2 {
    color: white;
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    animation: drop 1.5s ease;
}

h3 {
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    animation: drop 3s ease;
}

@keyframes drop
{
    0%
    {
        opacity: 0;
        transform: translateY(-80px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.about{
    display: flex;
}

.about .img1 img{
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
}

.bio {
    color: #5c5c5c;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 100px;
    max-width: 400px;
    
}

.projects {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(solder.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 70%;
}

.proj_title h5{
    color: white;
    margin-top: 200px;
    margin-left: 450px;
    position: absolute;
    text-align: center;
    font-size: 60px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    animation: drop 1.5s ease;
}

.mm {
    position: relative;
    text-align: center;
    color: white;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.mm_img img{
    max-height: 400px;
    max-width: 600px;
    margin-top: 30px;
    margin-left: 30px;
    
    
}

.mm:hover .mm_img img{
    transition: 0.6s;
    filter: brightness(30%);
}


.mm_hover {
    color: white;
    position: absolute;
    max-width: 440px;
    text-align: center;
    top: 10%;
    left: 8%;
    opacity: 0;
    /*transform: translate(-50%, -50%);*/
}

.mm_hover h1{
    font-size: 30px;
}

.mm_hover p{
    font-size: 16px;
    margin-top: 10px;
    
    
}

.mm:hover .mm_hover{
    transition: 0.6s;
    opacity: 1;
}

.esk8 {
    position: relative;
    text-align: center;
    color: white;
    float: right;
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.esk8_img img {
    max-height: 400px;
    max-width: 600px;
    margin-top: 30px;
    margin-left: 30px;
}

.esk8:hover .esk8_img img {
    transition: 0.6s;
    filter: brightness(30%);
}

.esk8_hover {
    color: white;
    position: absolute;
    max-width: 440px;
    text-align: center;
    top: 10%;
    left: 8%;
    opacity: 0;
    /*transform: translate(-50%, -50%);*/
}

.esk8_hover h1 {
    font-size: 30px;
}

.esk8_hover p {
    font-size: 16px;
    margin-top: 10px;
}

.esk8:hover .esk8_hover {
    transition: 0.6s;
    opacity: 1;
}











